body {
    font-family: 'Martel', serif;
}

h1 {
    text-align: center;
    font-family: 'Martel', serif;
    font-weight: 600;
    color: #444444;
}

#landingPage {
    background-color: #d3dde1;
    color: #444444;
}

#image-landing-page figure {
    text-align: left;
    line-height: 20px;
}

#image-landing-page img {
    width: 550px;
    height: 450px;
}

#image-landing-page {
    margin-top: 5%;
}

#image-landing-page > div {
    display: grid;
    grid-template-columns: auto auto auto;
}

#navbar {
    overflow: hidden;
    background-color: darkseagreen;
    border-bottom: solid 15px lightyellow;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: lightyellow;
    color: black;
}

.footer {
    background-color: darkseagreen;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p:nth-child(1) {
    color: white;
    font-weight: 400;
    float: left;
    padding-right: 10px;
    font-style: italic;
}

.footer p:nth-child(2) {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

.footer a {
    text-decoration: none;
    color: white;
    left: 0;
}

.footer a:hover {
    text-decoration: underline;
}

#aboutPage {
    background-color: #749474;
    color: #FFFFFF;
    font-weight: 700;
}

.card {
    float: left;
    max-width: 45%;
    box-shadow: 65px 65px 20px rgba(0, 0, 0, 0.1);
}

.card > img {
    width: 75%;
    height: auto;
    margin: 12%;
}

#bio {
    float: right;
    max-width: 55%;
    line-height: 32px;
}

.intro {
    margin: 8%;
}

h2 {
    margin: 8%;
}

#hobbiesPage {
    background-color: #e1e2e2;
    color: #444444;
    font-weight: 300;
}

#image-hobbies-page > div {
    display: flex;
    flex-wrap: wrap;
}

#image-hobbies-page img {
    width: 550px;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 65px 65px 20px rgba(0, 0, 0, 0.1);
}

.grid-item1 {
    width: 550px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item2 {
    width: 550px;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
}

#content1 {
    margin: 8%;
    width: 35%;
    line-height: 30px;
}

#content2 {
    margin: 8%;
    width: 35%;
    line-height: 30px;
}