body {
    font-family: 'Martel', serif;
}

h1 {
    text-align: center;
    font-family: 'Martel', serif;
    font-weight: 600;
    color: #444444;
}

figure {
    text-align: center;
}

img {
    width: 400px;
    height: 350px;
}

#image-gallery {
    margin-top: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

#landingPage {
    background-color: #d3dde1;
    color: #444444;
}

#aboutPage {
    background-color: #748c9b;
    color: #FFFFFF;
    font-weight: 300;
}

#hobbiesPage {
    background-color: #e1e2e2;
    color: #444444;
    font-weight: 300;
}

#navbar {
    overflow: hidden;
    background-color: darkseagreen;
    border-bottom: solid 15px lightyellow;

}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: lightyellow;
    color: black;
}
